body
{
	background-image: url("myimg.jpg");
	background-size: cover;
	background-repeat: repeat; 
	/*background-color: rgba(255,255,255,0.5);*/
	/*font-family: serif;*/
	/*background-color: rgba(255,255,255,0.5);*/
}


td,th,table{
	border-radius:5%;
	padding: 10px; 
	text-align: center; 
	border: 1px solid black; 
	border-collapse: collapse; 
	background-color:rgba(255,255,255,0.7);
	
}
