.column1{
    background-color: orangered;
}
.column2{
    background-color: orangered;
}
.column3{
    background-color: orangered;
}
.column4{
    background-color: orangered;
}
.column5{
    background-color: orangered;
}
.column6{
    background-color: orangered;
}